
/* #######################################################################

	meanMenu
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	padding: 0;
	min-height: 54px;
	/*z-index: 999999;*/
	z-index: 1023; /*lower z-index for modal windows*/

	background-color: #33789c;
	border-bottom: 1px solid #FFFFFF;
	opacity: 1;
	width: 100%;
	
	-webkit-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
	-moz-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
	
	position: relative;
	/* set to fixed for sticky nav bar
	position: fixed;
	*/
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 6px;
	right: 0;
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #FFFFFF;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #FFFFFF;
	margin-top: 56px;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	border-radius: 0;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	background-color: #202020;
    opacity:  .9;
}

.mean-container .mean-nav ul li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-bottom: 1px solid #383838;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-bottom: 1px solid #f1f1f1;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	width: 26px;
	height: 26px;
	background: #000;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding: 11px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #CCCCCC;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-container .dropdown-menu {position: relative;}

.mean-container #wrap-header {display: none;}

.mean-container #header-logo {
	background: transparent url(../img/logo_mob.png) no-repeat 0 0;
	background-size: 100%;
    height: 43px;
    left: 16px;
    margin-top: 0;
    position: absolute;
    text-indent: -9999px;
    top: 5px;
    width: 85px;
	}

/*Retina images served up here*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

.mean-container #header-logo {
	background: transparent url(../img/logo_mob@2x.png) no-repeat 0 0!important;
	background-size: 100%!important;
  
}
}